{
   "presets": ["env"],
   "plugins": [
      ["@babel/plugin-proposal-object-rest-spread", {}, "dd"],
      ["@babel/plugin-transform-regenerator", {}, "rr"],
      ["@babel/plugin-transform-runtime", { "regenerator": true }, "pp"]
   ]
}