/**
 * The app colors
 */
:root{

   /**
    * Material colors
    */
   --m-pink-a200: #FF4081;
   --m-pink-a400: #F50057;

   --m-purple-700: #7B1FA2;

   --m-blue-600: #1E88E5;
   --m-blue-700: #1976D2;

   --m-cyan-a200: #18FFFF;

   --m-light-green-a400: #76FF03;

   --m-grey-50: #FAFAFA;
   --m-grey-100: #F5F5F5;
   --m-grey-200: #EEEEEE;
   --m-grey-300: #E0E0E0;
   --m-grey-400: #BDBDBD;
   --m-grey-500: #9E9E9E;
   --m-grey-600: #757575;
   --m-grey-700: #616161;
   --m-grey-800: #424242;
   --m-grey-900: #212121;



   /**
    * Theme colors
    */
   /* Blank */
   --blank-bg--base: var(--m-grey-200);
   --blank-bg--1: var(--m-grey-50);
   --blank-bg--2: var(--m-grey-300);
   --blank-fg--base: var(--m-grey-900);
   --blank-ic--base: var(--m-grey-700);

   /* Primary */
   --primary-bg--base: var(--m-pink-a400);
   --primary-bg--1: var(--m-pink-a400);
   --primary-bg--2: var(--m-pink-a400);
   --primary-fg--base: var(--m-grey-50);
   --primary-ic--base: var(--m-grey-700);

   /* Accent */
   --accent-bg--base: var(--m-purple-700);
   --accent-bg--1: var(--m-purple-700);
   --accent-bg--2: var(--m-purple-700);
   --accent-fg--base: var(--m-grey-50);
   --accent-ic--base: var(--m-grey-700);

   /* Links */
   --link-fg: var(--m-blue-700);
   --link-fg--visited: var(--m-blue-700);

   /* Text selection */
   --selection-bg: var(--m-light-green-a400);
   --selection-fg: var(--m-grey-900);
}


/**
 * Setting the default color
 */
body{
   background-color: var(--blank-bg--base);
   color: var(--blank-fg--base);
}
