.field{
   display: flex;
   flex-direction: column;
   align-items: stretch;
}

.field > .-label{
   cursor: default;
   font-size: 0.8em;
   color: var(--m-grey-700);
   margin-bottom: 0.4em;
   user-select: none;
}
.field > .-label.--required::after{
   content: ' *';
   color: #D50000;
}

.field > .-input{
   font-size: 0.8em;
   padding: 0.6em 1em;
   font-size: 1rem;
   background-color: var(--m-grey-50);
   border-radius: 2px;
   box-shadow: 0 3px 2px -1px rgba(0, 0, 0, 0.06);

   transition: box-shadow 0.2s ease;
} .field > .-input:hover{
   box-shadow: 0 4px 3px -1px rgba(0, 0, 0, 0.2);
} .field > .-input:focus{
   box-shadow: 0 3px 2px -1px rgba(0, 0, 0, 0.13);
}
